<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
        #left {
            float: left;
            width: 300px;
            overflow: hidden;
            margin-left: 20px;
        }

        #right {
            overflow: hidden;
            margin: 20px;
        }
    </style>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
        var socket;
        document.addEventListener('DOMContentLoaded', () => {

            socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('connect', () => {
                socket.emit('get channels');
                load_channel();
            });



            if (!localStorage.getItem('display_name')) {
                document.querySelector('#heading').innerHTML = 'Type in a display name. This name will be associated with every message you send.';

                let form = document.createElement('form');
                form.setAttribute('id', 'make_name');
                let name = document.createElement('input');
                name.setAttribute('type', 'text');
                name.setAttribute('placeholder', 'Enter a display name');
                name.setAttribute('id', 'name_input');
                let submit = document.createElement('input');
                submit.setAttribute('id', 'submit');
                submit.setAttribute('type', 'submit');
                form.append(name);
                form.append(submit);

                var body = document.querySelector('#left');
                body.insertBefore(form, body.childNodes[1]);
                // https://www.w3schools.com/jsref/met_node_insertbefore.asp
                // https://stackoverflow.com/questions/2007357/how-to-set-dom-element-as-the-first-child

                document.querySelector('#make_name').onsubmit = function() {
                    let name = document.querySelector('#name_input').value;
                    localStorage.setItem('display_name', name);

                    let make_name = document.querySelector('#make_name');
                    make_name.parentNode.removeChild(make_name);
                    // https://www.abeautifulsite.net/adding-and-removing-elements-on-the-fly-using-javascript

                    document.querySelector('#heading').innerHTML = localStorage.getItem('display_name');

                    // Stop form from submitting
                    return false;
                };
            }
            else {
                document.querySelector('#heading').innerHTML = localStorage.getItem('display_name');
            }



            document.querySelector('#make_channel').onsubmit = function() {
                let name = document.querySelector('#channel_input').value;

                socket.emit('submit channel', { 'channel name': name });

                // Stop form from submitting
                return false;
            };

            socket.on('give messages', data => {
                if (localStorage.getItem('current_channel') === data.channel) {
                    if (!document.querySelector('#right')) {
                        render_channel_part();
                    }
                    document.querySelector('#channel').innerHTML = data.channel;

                    // Removes all children. I used this to help me: https://stackoverflow.com/a/3955238/9911203
                    var messages_list = document.getElementById("messages");
                    while (messages_list.firstChild) {
                        messages_list.removeChild(messages_list.firstChild);
                    }
                    data.messages.forEach(function(message) {
                        let element = make_message(message);
                        messages_list.append(element);
                    });
                }
            });

            socket.on('send channels', data => {

                // removes existing channel list
                document.querySelector('#channels_section').removeChild(document.querySelector('#channels_list'));

                // creates a new channel list
                let channel_list = document.createElement('ul');
                channel_list.setAttribute('id', 'channels_list');

                // adds the channels
                for (let channel of data.channels) {
                    let li = document.createElement('li');
                    let button = document.createElement('button');
                    button.innerText = channel;
                    button.onclick = function() {
                        let channel_name = this.innerHTML;
                        localStorage.setItem('current_channel', channel_name);
                        load_channel();
                    };
                    li.append(button);
                    channel_list.append(li);
                }
                document.querySelector('#channels_section').appendChild(channel_list);
            });

            socket.on('accept submit channel', data => {
                if (data.success) {
                    alert('channel created');
                    socket.emit('get channels');
                }
                else {
                    alert('channel not created');
                }
            });

            function load_channel() {
                let current_channel = localStorage.getItem('current_channel');
                socket.emit('request messages', { 'channel': current_channel });
                console.log('requested messages');
            }

            function render_channel_part() {
                console.log('rendering channel section...');

                let right = document.createElement('div');
                right.setAttribute('id', 'right');

                let channel_heading = document.createElement('h3');
                channel_heading.setAttribute('id', 'channel');

                let messages = document.createElement('ul');
                messages.setAttribute('class', 'list-unstyled');
                messages.setAttribute('id', 'messages');

                let send_message = document.createElement('form');
                send_message.onsubmit = function() {
                    let message = document.querySelector('#message').value;
                    socket.emit('send message', { 'channel': localStorage.getItem('current_channel'), 'message': message, 'display_name': localStorage.getItem('display_name') });
                    load_channel();

                    document.querySelector('#message').value = '';
                    document.querySelector('#submit_message').disabled = true;


                    // Stop form from submitting
                    return false;
                };
                send_message.setAttribute('id', 'send_message');
                let message_input = document.createElement('input');
                message_input.setAttribute('type', 'text');
                message_input.setAttribute('placeholder', 'send a message');
                message_input.setAttribute('id', 'message');
                // Enable button only if there is text in the input field
                message_input.onkeyup = function() {
                    let message_is_empty = this.value.length === 0;
                    document.querySelector('#submit_message').disabled = message_is_empty;
                };

                let submit_message = document.createElement('input');
                submit_message.setAttribute('id', 'submit_message');
                submit_message.setAttribute('type', 'submit');
                // By default, submit button is disabled
                submit_message.disabled = true;

                send_message.append(message_input);
                send_message.append(submit_message);

                right.append(channel_heading);
                right.append(messages);
                right.append(send_message);

                var body = document.querySelector('body');
                body.append(right);

                console.log('done rendering channel section');
            }
        });

        function make_message(data) {
            let from = data.display_name;
            let text = data.message;
            let time = data.time;

            let li = document.createElement('li');
            li.setAttribute('class', 'media');
            let content = document.createElement('div');
            content.setAttribute('class', 'media-body');
            let display_name = document.createElement('h5');
            display_name.setAttribute('class', 'mt-0 mb-1');
            display_name.innerHTML = from;
            let timestamp = document.createElement('small');
            timestamp.innerHTML = time;
            // I used this to help me add padding: https://getbootstrap.com/docs/4.1/utilities/spacing/
            // I found out about the small tag and text muted here: https://getbootstrap.com/docs/4.1/components/list-group/#custom-content
            timestamp.setAttribute('class', 'text-muted pl-2 pt-1');

            let info_div = document.createElement('div');
            info_div.setAttribute('class', 'd-flex justify-content-start');
            info_div.append(display_name);
            info_div.append(timestamp);

            content.append(info_div);
            content.append(text);

            li.append(content);

            return li;
        }





    </script>


</head>

<body>
    <h1 id="heading"></h1>

    <div id="left">
        <form id='make_channel'>
            <input type="text" placeholder="Create a channel" id="channel_input">
            <input id="submit" type="submit">
        </form>

        <div id='channels_section'>
            <ul id='channels_list'>
            </ul>
        </div>
    </div>

</body>


</html>
